@charset "UTF-8";

body{
    background-color: lightgray;
}
header{
    background-color: darkgray;
    text-align: center;
}
header >h1{
    padding: 10px;

}
header > menu > ul > li {
   list-style-type: none ;
}

header a{
    display: block;
    color: white;
    padding: 5px;
    text-decoration: none;
    background-color: rgb(81, 81, 81);
}
li{
    padding: 1px;
}
header a:hover{
    background-color: gray;
}

*{
    margin:0px ;
    padding: 0px;
}
main
{
    border: 1px solid black;
    border-radius: 20px;
    margin: auto;
    margin-top: 10px;
    width: 90vw;
    background-color: white;
   
    
}
article h2{
    text-align: center;
    padding: 20px;
}
article  p{
    padding: 10px;
    line-height: 2.em;

}
article{
    padding-bottom: 40px;
}
#burger{
    padding: 10px;
    display: block;
    color: white;
    background-color: rgb(27, 27, 27);
    cursor: pointer;
}
#burger:hover{
    background-color: white;
    color: black;

}
menu{
    display: none;
}